{erl_opts, [debug_info]}.

{deps, [
    {recon,{git,"https://github.com/ferd/recon.git",{tag,"2.5.6"}}},
    opentelemetry, opentelemetry_api, opentelemetry_exporter
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [llama]}
]}.

{alias, [
    {check,[compile,edoc,eunit,ct,dialyzer]}
]}.

{profile,[
    {test,[
        {config,"config/sys.config"}
    ]}
]}.